// ===============================================
// 	GROUP-LIST
// ===============================================
.group-list {
	padding: 0;
	list-style: none;
	margin: 0 0 2rem;
	&__headline {
		color: $footer-links-headline;
		font-size: .85rem;
		margin: 0 0 .2rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__item--muted {
		color: $footer-links-color;
		font-size: 0.9rem;
		line-height: 1.6rem;
		font-weight: 500;
		letter-spacing: -0.6px;
	}
	&__item--style {
		margin: 0;
		font-size: .9rem;
		line-height: 1.4rem;
	}
	&__item__link {
		color: $footer-links-color;
		&:hover,
		&:focus {
			color: inherit;
		}
	}
	&--decoration,
	&__item--decoration {
		color:$primary-color-shade-one;
		margin-bottom: 0;
			&:hover,
			&:focus {
				color: $primary-color-shade-one
		}
	}
	&--decoration {
		margin-top: 2.6rem;
		margin-bottom: .2rem;
		font-weight: 900;
	}
	&__item--decoration {
		text-decoration: underline;
	}
}
// ===============================================
// 	MEDIA QUERIES
// ===============================================
@media screen and (min-width: $lg ) {
	.group-list--padding {
		padding-left: 2.37rem
	}
}