// ===============================================
// HEADER-CONTAINER
// ===============================================
.header-container {
    background: #ffffff;
}
.logo {
    width: 11rem;
    padding-top: .5rem;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.form {
    grid-row-start: 2;
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: .5rem;
    padding: .2rem 2.1rem;
    &__search {
        position: relative;
        &__icon {
            text-align: right;
            position: absolute;
            z-index: 2;
            display: block;
            height: 1.9rem;
            width: 100%;
            line-height: 1.8rem;
            pointer-events: none;
            padding-right: .7rem;
            color: $footer-links-color;
        }
    }
    &__link {
        font-weight: bold;
        font-size: .8rem;
        color: $primary-color-shade-one;
        margin-bottom: 1rem;
    }
    &__selector {
        border: none;
        color: $form-output-headline-color;
        margin: 0;
    }
    &__contacts {
        justify-content: center;
        transition: .2s all;
    }
}
.form__button {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        background-color: darken(#01d4aa, 5%);
    }
    &--success {
        background-color: $form-button-bg;
        border: darken($form-button-bg, 10%);
    }
    &--small {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
}
.form__contacts {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
}
// ===============================================
// MEDIA QUERIES
// ===============================================
@media screen and (min-width: $md) {
    .form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__contacts {
            justify-content: flex-start;
        }
        &__search__icon {
            line-height: 2rem;
        }
        &__selector {
            color: $form-button-bg;
        }
    }
    .logo {
        padding: .5rem 0 1rem 1.5rem;
    }
}
@media screen and (min-width: $lg) {
    .form {
        width: 60%;
        margin-top: 1rem;
        z-index: 104;
        position: relative;
        left: 24rem;
        padding: 0;
    }
    .logo {
        padding: .5rem 0 0;
        position: relative;
        margin-bottom: -3.4rem;
        z-index: 200;
    }
}
@media screen and (min-width: $xl) {
    .logo {
        width: 9.6875rem;
        padding-top: 0.8rem;
    }
    .form {
        left: 28.5rem;
        top: -0.1rem;
        justify-content: flex-end;
    }
    .form__button--small {
        width: 7.8125rem;
        height: 2.1875rem;
        margin-left: 0.7rem;
        margin-right: 0.1rem;
    }
    .form__selector {
        font-size: .9rem;
    }
    .form__search {
        margin-left: 0.4rem;
            &__input {
                height: 2.2rem;
                width: 11.4rem;
            }
            &__icon {
                line-height: 2rem;
            }
    }
    .form__contacts {
        width: 13.75rem;
        font-size: .85rem;
    }
}

