// ===============================================
// NAVIGATION
// ===============================================
.navigation {
    padding: 2rem 0 4rem;
    &__icon {
        display: flex;
        padding: 1rem .3rem;
        cursor: pointer;
        animation: slide-in-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        &__img {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
    &__group {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        &__item {
            margin: 0;
            font-size: 1.1rem;
            transition: .2s all;
            color: $primary-color-shade-one;
                &:hover {
                }
            &__link {
                color: $navigation__group__item__link-color;
                font-family: $font-family-primary;
                transition: .2s all;
                &:hover {
                    animation: text-shadow-drop-center 0.3s both;
                    text-decoration: none;
                    color: $primary-color-shade-one;
                }
            }
        }
    }
}
// ===============================================
// MEDIA QUERIES
// ===============================================
@media screen and (max-width: $md ) {
    .navigation__group {
        text-align: center;
        padding: 0 1rem;
        &__item {
            border-bottom: 1px solid darkgray;
            &:last-of-type {
                border-bottom: 0;
            }
        }
        &__item__link {
            display: block;
            padding: .7rem;
        }
    }
}
@media screen and (min-width: $md ) {
    .navigation {
        margin: .1rem 0;
        padding: 1.9rem 0 .7rem 1.5rem;
        &__icon {
            display: none;
        }
        &__group__item {
            display: inline-block;
            font-size: .9rem;
            margin-left: 2.3rem;
            color: #111111;
                &__link {
                    color: inherit;
                }
            &--first-item {
                margin-left: 0;
            }
            &--last-item {
                margin-left: 1.8rem;
            }
        }
    }
}
@media screen and (min-width: $lg) {
    .navigation {
        padding-bottom: 0.5rem;
        padding-left: 0;
    }
}