// ===============================================
// 	HTML AND PRIMARY BODY SECTIONS
// ===============================================
html, .body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-family-primary;
    background-color: $footer-bg-color;
}
.body {
    &__header,
    &__footer {
        animation: fade-in 1s .9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    &__header {
        border-bottom: .5px solid #D3D3D3;
        background-color: #ffffff;
        position: relative;
        z-index: 100;
            &__row {
                display: flex;
        }
    }
    &__main {
        @extend %main-gradient;
        padding-top: 3rem;
        padding-bottom: 5rem;
            &--detail {
                background: #ffffff;
        }
    }
    &__footer {
        background: $footer-bg-color;
        padding-top: 2.3rem;
    }
}
// ===============================================
// MEDIA QUERIES
// ===============================================
@media screen and (min-width: $md){
    .container{
        padding: 0;
    }
    .body__main {
        padding-top: 0;
        padding-bottom: 5rem;
        height: 27.4375rem;
        &--detail {
            height: 35.9625rem;
        }
    }
    .body__header {
        padding: 0 0 0.1px;
    }
}
