// ===============================================
// 	SCROLL-TO-TOP
// ===============================================
.scroll-to-top {
    position: relative;
    &__icon {
        color: $primary-color-shade-one;
        position: fixed;
        bottom: 5px;
        right: 30px;
        z-index: 10;
        display: block;
        opacity: .8;
        transition: 1s all;
        font-size: .8rem;
            &:hover,
            &:focus {
                opacity: 1;
                transition: opacity .3s;
                color: $primary-color-shade-one-darken;
                cursor: pointer !important;
        }
    }
}
// ===============================================
// MEDIA QUERIES
// ===============================================
@media screen and (min-width: $sm) {
    .scroll-to-top__icon {
        font-size: 1rem;
    }
}
