// ===============================================
//  SLIDE-MENU
// ===============================================
.slide-menu {
    padding: 1rem 0;
    height: 100%;
    width: 280px;
    background-color: $footer-bg-color;
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    overflow-x: visible;
    transform: translate(-280px,0);
        &__overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.5);
            display: none;
            z-index: 1;
    }
}
.slide-menu {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
// ===============================================
// MEDIA QUERIES
// ===============================================
@media screen and (min-width: $sm) {
    .slide-menu {
        width: 480px;
        transform: translate(-480px,0);
        padding: 1rem 4rem;
    }
}
@media screen and (min-width: $md) {
    .slide-menu {
        padding: 0;
        display: block;
        position: relative;
        height: auto;
        width: 100%;
        transform: translate(0px, 0px);
        background: #ffff;
        &__overlay {
                display: none !important;
        }
    }
}
@media (max-height: 450px) {
    .slide-menu {
        overflow-y: scroll !important;
    }
}