// ===============================================
// 	VARIABLES
// ===============================================
$font-family-primary: 'Open Sans', sans-serif;
$primary-color-shade-one: #0978f1;
$primary-color-shade-one-darken: darken($primary-color-shade-one, 5%);
$primary-color-shade-two: #109cf5;
$navigation__group__item__link-color: #0c5460;
$footer-bg-color: #e0e0e0;
$footer-links-color: #6e6e6e;
$footer-links-headline: #535353;
$form-button-bg: #01d4aa;
$form-output-headline-color: #444244;
$whisperer__form__output__card__left-bg: #f8f8f8;
// ===============================================
// 	MIXINS & PLACEHOLDERS
// ===============================================
%main-gradient {
    background: rgb(9,120,241);
    background: linear-gradient(180deg, $primary-color-shade-one 35%, $primary-color-shade-two 100%);
}
// ===============================================
// BRAKE POINTS  
// ===============================================
$xs: 435px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1200px;
// ===============================================
// KEYFRAMES ANIMATIONS
// ===============================================\
@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}
