// ===============================================
// 	WHISPERER
// ===============================================
.whisperer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.9rem;
}
.whisperer__headline {
    font-family: $font-family-primary;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.whisperer__form {
    padding: 0;
    position: relative;
    z-index: 1;
    animation: swing-in-top-fwd 1.5s .5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.whisperer__form__input {
    height: 3.125rem ;
    padding: 0 1.8rem;
    box-shadow: 0 0 .8rem 0.3rem rgba(0,0,0,0.1);
}
.whisperer__form__input::placeholder {
    font-size: .8rem;
    font-weight: 400;
}
.whisperer__form__recommendation {
    position: absolute;
    display: none;
    z-index: 10;
    width: 100%;
}
.whisperer__form__recommendation__item {
    font-size: .8rem;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    color: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    background: $primary-color-shade-one;
    cursor: pointer;
    transition: .2s all;
    width: 100%;
    &:hover,
    &:focus {
        background-color: $primary-color-shade-one-darken;
    }
}
.whisperer__form__recommendation__item__img {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    display: block;
    margin-bottom: .5rem;
}
.whisperer__form__output {
    //display: block;
}
.whisperer__form__output__headline {
    text-align:  center;
    color: $form-output-headline-color;
    margin: 1rem 0;
    font-size: 2.2rem;
    font-weight: 300;
}
.whisperer__form__output__card {
    box-shadow: 0 .4rem .4rem .4rem  rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    animation: flip-in-hor-bottom .5s .2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.whisperer__form__output__card__left {
    background-color: $whisperer__form__output__card__left-bg;
    border-radius:  0 0 .5rem .5rem;
    padding: 2rem 2rem;
}
.whisperer__form__output__card__left__table {
    text-align: left;
    font-size: .8rem;
}
.whisperer__form__output__card__right {
    background-color: #ffffff;
    border-radius: .5rem .5rem 0 0;
    padding: 2rem 0;
    margin-bottom: 0;
}
.whisperer__form__output__card__right__img {
    width: 4rem;
    height: auto;
    margin-bottom: 1rem;
}
.whisperer__form__output__card__right__text {
    font-weight: bold;
    color: $primary-color-shade-one;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.3rem;
}
// ===============================================
// 	MEDIA QUERIES
// ===============================================
@media screen and (min-width: 400px) {
    .whisperer__headline {
        font-size: 2rem;
    }
    .whisperer__form__input::placeholder {
        font-size: .9rem;
    }
    .whisperer__form__recommendation__item__img {
        display: inline-block;
        margin-bottom: 0;
    }
    .whisperer__form__output__card__left__table {
        font-size: 1rem;
    }
    .whisperer__form__output__card__right__text {
        font-size: 2rem;
    }
}
@media screen and (min-width: $sm) {
    .whisperer {
        padding-top: 7rem;
    }
    .whisperer__headline {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: $md ) {
    .whisperer {
        padding-top: 8.25rem;
    }
    .whisperer__headline {
        font-size: 3.5rem;
    }
    .whisperer__form__recommendation__item {
        font-size: 1rem;
    }
    .whisperer__form__output__headline {
        margin:  0 0 2.5rem 0;
        word-spacing: 1.4px;
        padding-top: 1.8625rem;
    }
    .whisperer__form__output__card__right {
        border-radius:  0 .5rem .5rem 0;
    }
    .whisperer__form__output__card__right__img {
        width: 5rem;
        height: auto;
        margin-right: 0.5rem;
    }
    .whisperer__form__output__card__left {
        border-radius: .5rem 0 0 .5rem;
        padding: 2rem 0;
    }
    .whisperer__form__output__card__left__table {
        text-align: left;
        th, td {
            padding:.3rem .3rem ;
            font-size: .8rem;
            line-height: 1.7rem;
        }
        th {
            padding-left: 2.6rem;
            width: 14.6875rem;
            font-weight: bold;
            word-spacing: 0.7px;
            letter-spacing: 0.5px;
        }
        td {
            letter-spacing: .5px;
            color: $footer-links-color;
            a {
                color: $footer-links-color;
            }
        }
    }
}
@media screen and (min-width: $lg ) {
    .whisperer__headline {
        font-size: 3.6rem;
        letter-spacing: 1.1px;
    }
    .whisperer__form {
        margin-top: .8rem;
        padding: 0 .6rem;
    }
    .whisperer__form__input {
        border-radius: 5px;
    }
    .whisperer__form__recommendation__item {
        width: 96.5%;
    }
    .whisperer__form__output__card__right__text {
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
        margin-right: 0.6rem;
    }
}
@media screen and (min-width: $xl ) {
    .whisperer__form__output__headline {
        margin:  0 0 2.5rem 0;
        word-spacing: 1.4px;
        padding-top: 1.8625rem;
    }
    .whisperer__form__output__card {
        width: 71.25rem;
        height: 23.75rem
    }
}


