.body__main {
  background: #0978f1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #0978f1), to(#109cf5));
  background: -webkit-linear-gradient(top, #0978f1 35%, #109cf5 100%);
  background: -o-linear-gradient(top, #0978f1 35%, #109cf5 100%);
  background: linear-gradient(180deg, #0978f1 35%, #109cf5 100%);
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

html, .body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #e0e0e0;
}

.body__header, .body__footer {
  -webkit-animation: fade-in 1s 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.body__header {
  border-bottom: .5px solid #D3D3D3;
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}

.body__header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body__main {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.body__main--detail {
  background: #ffffff;
}

.body__footer {
  background: #e0e0e0;
  padding-top: 2.3rem;
}

@media screen and (min-width: 767px) {
  .container {
    padding: 0;
  }
  .body__main {
    padding-top: 0;
    padding-bottom: 5rem;
    height: 27.4375rem;
  }
  .body__main--detail {
    height: 35.9625rem;
  }
  .body__header {
    padding: 0 0 0.1px;
  }
}

.header-container {
  background: #ffffff;
}

.logo {
  width: 11rem;
  padding-top: .5rem;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form {
  grid-row-start: 2;
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: .5rem;
  padding: .2rem 2.1rem;
}

.form__search {
  position: relative;
}

.form__search__icon {
  text-align: right;
  position: absolute;
  z-index: 2;
  display: block;
  height: 1.9rem;
  width: 100%;
  line-height: 1.8rem;
  pointer-events: none;
  padding-right: .7rem;
  color: #6e6e6e;
}

.form__link {
  font-weight: bold;
  font-size: .8rem;
  color: #0978f1;
  margin-bottom: 1rem;
}

.form__selector {
  border: none;
  color: #444244;
  margin: 0;
}

.form__contacts {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.form__button {
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form__button:hover {
  background-color: #01bb96;
}

.form__button--success {
  background-color: #01d4aa;
  border: #01a181;
}

.form__button--small {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.form__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: .9rem;
  font-weight: bold;
}

@media screen and (min-width: 767px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form__contacts {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .form__search__icon {
    line-height: 2rem;
  }
  .form__selector {
    color: #01d4aa;
  }
  .logo {
    padding: .5rem 0 1rem 1.5rem;
  }
}

@media screen and (min-width: 991px) {
  .form {
    width: 60%;
    margin-top: 1rem;
    z-index: 104;
    position: relative;
    left: 24rem;
    padding: 0;
  }
  .logo {
    padding: .5rem 0 0;
    position: relative;
    margin-bottom: -3.4rem;
    z-index: 200;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 9.6875rem;
    padding-top: 0.8rem;
  }
  .form {
    left: 28.5rem;
    top: -0.1rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .form__button--small {
    width: 7.8125rem;
    height: 2.1875rem;
    margin-left: 0.7rem;
    margin-right: 0.1rem;
  }
  .form__selector {
    font-size: .9rem;
  }
  .form__search {
    margin-left: 0.4rem;
  }
  .form__search__input {
    height: 2.2rem;
    width: 11.4rem;
  }
  .form__search__icon {
    line-height: 2rem;
  }
  .form__contacts {
    width: 13.75rem;
    font-size: .85rem;
  }
}

.navigation {
  padding: 2rem 0 4rem;
}

.navigation__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem .3rem;
  cursor: pointer;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navigation__icon__img {
  height: 2.5rem;
  width: 2.5rem;
}

.navigation__group {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.navigation__group__item {
  margin: 0;
  font-size: 1.1rem;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  color: #0978f1;
}

.navigation__group__item__link {
  color: #0c5460;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.navigation__group__item__link:hover {
  -webkit-animation: text-shadow-drop-center 0.3s both;
  animation: text-shadow-drop-center 0.3s both;
  text-decoration: none;
  color: #0978f1;
}

@media screen and (max-width: 767px) {
  .navigation__group {
    text-align: center;
    padding: 0 1rem;
  }
  .navigation__group__item {
    border-bottom: 1px solid darkgray;
  }
  .navigation__group__item:last-of-type {
    border-bottom: 0;
  }
  .navigation__group__item__link {
    display: block;
    padding: .7rem;
  }
}

@media screen and (min-width: 767px) {
  .navigation {
    margin: .1rem 0;
    padding: 1.9rem 0 .7rem 1.5rem;
  }
  .navigation__icon {
    display: none;
  }
  .navigation__group__item {
    display: inline-block;
    font-size: .9rem;
    margin-left: 2.3rem;
    color: #111111;
  }
  .navigation__group__item__link {
    color: inherit;
  }
  .navigation__group__item--first-item {
    margin-left: 0;
  }
  .navigation__group__item--last-item {
    margin-left: 1.8rem;
  }
}

@media screen and (min-width: 991px) {
  .navigation {
    padding-bottom: 0.5rem;
    padding-left: 0;
  }
}

.whisperer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4.9rem;
}

.whisperer__headline {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.whisperer__form {
  padding: 0;
  position: relative;
  z-index: 1;
  -webkit-animation: swing-in-top-fwd 1.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.whisperer__form__input {
  height: 3.125rem;
  padding: 0 1.8rem;
  -webkit-box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.1);
}

.whisperer__form__input::-webkit-input-placeholder {
  font-size: .8rem;
  font-weight: 400;
}

.whisperer__form__input:-ms-input-placeholder {
  font-size: .8rem;
  font-weight: 400;
}

.whisperer__form__input::-ms-input-placeholder {
  font-size: .8rem;
  font-weight: 400;
}

.whisperer__form__input::placeholder {
  font-size: .8rem;
  font-weight: 400;
}

.whisperer__form__recommendation {
  position: absolute;
  display: none;
  z-index: 10;
  width: 100%;
}

.whisperer__form__recommendation__item {
  font-size: .8rem;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #0978f1;
  cursor: pointer;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  width: 100%;
}

.whisperer__form__recommendation__item:hover, .whisperer__form__recommendation__item:focus {
  background-color: #086cd8;
}

.whisperer__form__recommendation__item__img {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  display: block;
  margin-bottom: .5rem;
}

.whisperer__form__output__headline {
  text-align: center;
  color: #444244;
  margin: 1rem 0;
  font-size: 2.2rem;
  font-weight: 300;
}

.whisperer__form__output__card {
  -webkit-box-shadow: 0 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
  box-shadow: 0 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  -webkit-animation: flip-in-hor-bottom 0.5s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.whisperer__form__output__card__left {
  background-color: #f8f8f8;
  border-radius: 0 0 .5rem .5rem;
  padding: 2rem 2rem;
}

.whisperer__form__output__card__left__table {
  text-align: left;
  font-size: .8rem;
}

.whisperer__form__output__card__right {
  background-color: #ffffff;
  border-radius: .5rem .5rem 0 0;
  padding: 2rem 0;
  margin-bottom: 0;
}

.whisperer__form__output__card__right__img {
  width: 4rem;
  height: auto;
  margin-bottom: 1rem;
}

.whisperer__form__output__card__right__text {
  font-weight: bold;
  color: #0978f1;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.3rem;
}

@media screen and (min-width: 400px) {
  .whisperer__headline {
    font-size: 2rem;
  }
  .whisperer__form__input::-webkit-input-placeholder {
    font-size: .9rem;
  }
  .whisperer__form__input:-ms-input-placeholder {
    font-size: .9rem;
  }
  .whisperer__form__input::-ms-input-placeholder {
    font-size: .9rem;
  }
  .whisperer__form__input::placeholder {
    font-size: .9rem;
  }
  .whisperer__form__recommendation__item__img {
    display: inline-block;
    margin-bottom: 0;
  }
  .whisperer__form__output__card__left__table {
    font-size: 1rem;
  }
  .whisperer__form__output__card__right__text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 575px) {
  .whisperer {
    padding-top: 7rem;
  }
  .whisperer__headline {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 767px) {
  .whisperer {
    padding-top: 8.25rem;
  }
  .whisperer__headline {
    font-size: 3.5rem;
  }
  .whisperer__form__recommendation__item {
    font-size: 1rem;
  }
  .whisperer__form__output__headline {
    margin: 0 0 2.5rem 0;
    word-spacing: 1.4px;
    padding-top: 1.8625rem;
  }
  .whisperer__form__output__card__right {
    border-radius: 0 .5rem .5rem 0;
  }
  .whisperer__form__output__card__right__img {
    width: 5rem;
    height: auto;
    margin-right: 0.5rem;
  }
  .whisperer__form__output__card__left {
    border-radius: .5rem 0 0 .5rem;
    padding: 2rem 0;
  }
  .whisperer__form__output__card__left__table {
    text-align: left;
  }
  .whisperer__form__output__card__left__table th, .whisperer__form__output__card__left__table td {
    padding: .3rem .3rem;
    font-size: .8rem;
    line-height: 1.7rem;
  }
  .whisperer__form__output__card__left__table th {
    padding-left: 2.6rem;
    width: 14.6875rem;
    font-weight: bold;
    word-spacing: 0.7px;
    letter-spacing: 0.5px;
  }
  .whisperer__form__output__card__left__table td {
    letter-spacing: .5px;
    color: #6e6e6e;
  }
  .whisperer__form__output__card__left__table td a {
    color: #6e6e6e;
  }
}

@media screen and (min-width: 991px) {
  .whisperer__headline {
    font-size: 3.6rem;
    letter-spacing: 1.1px;
  }
  .whisperer__form {
    margin-top: .8rem;
    padding: 0 .6rem;
  }
  .whisperer__form__input {
    border-radius: 5px;
  }
  .whisperer__form__recommendation__item {
    width: 96.5%;
  }
  .whisperer__form__output__card__right__text {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    margin-right: 0.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .whisperer__form__output__headline {
    margin: 0 0 2.5rem 0;
    word-spacing: 1.4px;
    padding-top: 1.8625rem;
  }
  .whisperer__form__output__card {
    width: 71.25rem;
    height: 23.75rem;
  }
}

.group-list {
  padding: 0;
  list-style: none;
  margin: 0 0 2rem;
}

.group-list__headline {
  color: #535353;
  font-size: .85rem;
  margin: 0 0 .2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.group-list__item--muted {
  color: #6e6e6e;
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.group-list__item--style {
  margin: 0;
  font-size: .9rem;
  line-height: 1.4rem;
}

.group-list__item__link {
  color: #6e6e6e;
}

.group-list__item__link:hover, .group-list__item__link:focus {
  color: inherit;
}

.group-list--decoration, .group-list__item--decoration {
  color: #0978f1;
  margin-bottom: 0;
}

.group-list--decoration:hover, .group-list--decoration:focus, .group-list__item--decoration:hover, .group-list__item--decoration:focus {
  color: #0978f1;
}

.group-list--decoration {
  margin-top: 2.6rem;
  margin-bottom: .2rem;
  font-weight: 900;
}

.group-list__item--decoration {
  text-decoration: underline;
}

@media screen and (min-width: 991px) {
  .group-list--padding {
    padding-left: 2.37rem;
  }
}

.scroll-to-top {
  position: relative;
}

.scroll-to-top__icon {
  color: #0978f1;
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 10;
  display: block;
  opacity: .8;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  font-size: .8rem;
}

.scroll-to-top__icon:hover, .scroll-to-top__icon:focus {
  opacity: 1;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  color: #086cd8;
  cursor: pointer !important;
}

@media screen and (min-width: 575px) {
  .scroll-to-top__icon {
    font-size: 1rem;
  }
}

.slide-menu {
  padding: 1rem 0;
  height: 100%;
  width: 280px;
  background-color: #e0e0e0;
  left: 0;
  top: 0;
  z-index: 100;
  position: fixed;
  overflow-x: visible;
  -webkit-transform: translate(-280px, 0);
  -ms-transform: translate(-280px, 0);
  transform: translate(-280px, 0);
}

.slide-menu__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.slide-menu {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 575px) {
  .slide-menu {
    width: 480px;
    -webkit-transform: translate(-480px, 0);
    -ms-transform: translate(-480px, 0);
    transform: translate(-480px, 0);
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: 767px) {
  .slide-menu {
    padding: 0;
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    background: #ffff;
  }
  .slide-menu__overlay {
    display: none !important;
  }
}

@media (max-height: 450px) {
  .slide-menu {
    overflow-y: scroll !important;
  }
}

/*# sourceMappingURL=style.css.map */